// Define variables for your color scheme

// For example:
$red: #bb361f;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$black: #18181a;
$gray: #6e6e72;
$white: #f4f4f4;
$primary: #4b90df;
$gradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
$shadow: 2px 4px 6px #2020204d;
