.banner {
  background-size: cover;
  position: relative;
  background-position: center;
  padding: 160px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-url("movie-theatre.jpg");
  color: $white;
  text-align: center;
  margin-bottom: 20px;
  .lbl-count {
    position: absolute;
    top: 0;
    right: 0;
  }
}
