.field {
  text-decoration: none;
  background: $light-gray;
  padding: 8px 12px;
  border: 2px solid $gray;
  margin: 12px 0;
}

.form {
  font: 100% $headers-font;
  text-decoration: none;
  * {
    font: 100% $headers-font;
  }
  .btn {
    border: none;
  }
}
